<!-- templates/index.html -->



<!-- TODO: Extend 'base.html' and put content into a block 'body' to match -->
{% extends 'base.html' %}

{% block title %} Gif Gif {% endblock %} 

{% block content %}
    <!-- TODO: Make an HTML form containing a search box and a submit button to add
        the search term to the query string. The form should have a target of '/' to
        send us to the same route. -->
        <form action="/">
            <p>
                <input class="typehead" type="text" name="search" placeholder="Search Gifs.."/>
                <button type="submit" class="btn btn-primary">Search</button>
            </p>
        </form>

    <!-- TODO: Make a for loop to loop over GIFs passed in from the server -->
    {% for gif in gifs_recieved %} 
        <div class="gif_container">
            <!-- TODO: For each gif, include the 'gif.html' template to display it -->
            {% include 'gif.html' %}
        </div>
    {% endfor %}


{% endblock %}